services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest_app_foods
    restart: unless-stopped
    ports:
      - "${PORT}:3000"
    depends_on:
      - postgres
    env_file:
      - .env
    command: >
      sh -c "npx prisma migrate deploy && node dist/main.js"

  postgres:
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: contabilize
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
