services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: react_app_contabilize
    env_file:
      - .env
    ports:
      - "4000:80"
    restart: unless-stopped
