services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: meu_banco
      POSTGRES_USER: meu_user
      POSTGRES_PASSWORD: minha_senha
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U meu_user -d meu_banco"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
